.color-white * {
  color: white !important;
}

.btn-dark {
  background: #607d8b !important;
  color: #fff;
}

.btn-dark:hover {
  background: #4b626d !important;
}

/*# sourceMappingURL=color-variables.css.map */