// Import variables
@import "variables";

.loader {
    position: fixed;
    z-index: 9;
    background: #fff;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        left: calc((100% - 196px)/2);
        top: calc((100% - 196px)/2);
    }
}

.chat-list {
    background: $chat-background;
    position: fixed;
    width: 28%;
    height: 100%;
    top: 0;
    z-index: 1;

    .active {
        background: $active-chat;
    }

    button {
        margin: 0 !important;
    }

    h3{
        font-weight: 700 !important;
        font-size: 18px !important;
    }
    h4 {
        font-size: 13px !important;
    }

    img {
        width: 50px !important;
        height: 50px !important;
    }
}
.chat-msgs {
    position: fixed;
    width: 72%;
    height: 100%;
    background: $main-background;
    left: 28%;
    box-sizing: border-box;
    overflow-y: auto;
    padding-bottom: 80px !important;

    .msg {
        position: relative; 
        overflow: hidden;  

        .profile-img{
            width: 50px !important;
            height: 50px !important;
        }     
    }

    .more {
        font-size: 50px;
    }

    .msg-content {
        float: left;
        padding: 6px 10px 0px 10px;        
        margin-bottom: 5px;
        border-radius: 3px;
        max-width: 50%;
        clear: both;
        font-size: 14px;
        line-height: 19px;
        text-align: left;       
        position: relative;
        
        .bottyping {
            position: static;
            max-width: 30px;
        }

        .button-grp button {
            display: inline-block !important;            
            margin-right: 5px !important;
            background: transparent;
            border: 0;
        }

        .button-grp .ng-hide {
            display: none !important;
        }
    }

    .bot-msg {               
        animation: received-message 0.5s ease-out 0s;
        
        .msg-content {
            background: #fff;
        }
    }

    .user-msg {
        animation: sent-message 0.5s ease-out 0s;

        .msg-content {
            float: right;
            clear: both;
            background: $chat-background;
            color: #fff;                    
        }

        .edit-button {
            position: absolute;
            left: -30px;
            background: transparent;
            border: 0;
            font-size: 19px;
            top: -10px;
            
            i{
                color: $chat-background;
            }
        }
    }
    
}

.msg-form {
    position: fixed;
    width: 72%;
    margin-bottom: 0;
    bottom: 0;
    left: 28%;
    background: #fff;
    padding-left: 10px;
    padding-top: 5px;

    .md-input-focused {
        label {
            display: none;
        }
    }

    md-input-container {        
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .md-errors-spacer {
        display: none;
    }

    // .md-input-has-value {
    //     textarea {            
    //         height: 38px !important;
    //     }
    // }
    textarea {
        border: 0;
        width: calc(100% - 75px);
        min-height: 38px !important;
    }
    button{
        background: transparent;
        border: 0;
        display: inline-block !important;
    }
}
.Note {
    display: block;
    width: 41%;
    text-align: center;
    margin: 0 auto;

    strong {
        display: block;
    }
}

md-dialog-actions {
    button:last-child {
        background: $chat-background !important;
        color: #fff !important;

        &:hover {
            background: darken($chat-background, 10%)!important;
        }
    }
}

.chat-loader {
    width: 72%;
    position: fixed;
    left: 28%;
    height: 100%;
    background: #eceff1;
    z-index: 9;
    top: 0;

    img {
        position: absolute;
        top: calc((100% - 70px)/2);
        left: calc((100% - 70px)/2);
    }
}

.edit-form {
    textarea {
        width: 100%;
        border-radius: 3px;
        padding: 5px;
        box-sizing: border-box;
        border: 0;
    }
    .md-raised {
        display: inline-block !important;
        line-height: 29px !important;
        min-height: 29px !important;
    }
}