
// Background Variables
$chat-background : rgba(96,125,139,1);
$active-chat : rgba(69,90,100,1);
$main-background : rgba(236,239,241,1);

// font color mixins

.color-white, .color-white  *{
    color: rgba(255,255,255,1) !important;
}

.btn-dark {
    background: $chat-background!important;
    color: #fff;

    &:hover {
        background: darken($chat-background, 10%)!important;
    }
}