/* NO MARGIN */
.no-margin {
  margin: 0 !important;
}

/* NO MARGIN-TOP */
.no-margintop {
  margin-top: 0 !important;
}

/* NO MARGIN-RIGHT */
.no-marginright {
  margin-right: 0 !important;
}

/* NO MARGIN-BOTTOM */
.no-marginbottom {
  margin-bottom: 0 !important;
}

/* NO MARGIN-LEFT */
.no-marginleft {
  margin-left: 0 !important;
}

/* MARGIN-TOP (X-SMALL) */
.margintop-xs {
  margin-top: 5px !important;
}

/* MARGIN-TOP (SMALL) */
.margintop-sm {
  margin-top: 10px !important;
}

/* MARGIN-TOP (MEDIUM) */
.margintop-md {
  margin-top: 20px !important;
}

/* MARGIN-TOP (LARGE) */
.margintop-lg {
  margin-top: 30px !important;
}

/* MARGIN-TOP (XTRA-LARGE) */
.margintop-xlg {
  margin-top: 60px !important;
}

/* MARGIN-RIGHT (X-SMALL) */
.marginright-xs {
  margin-right: 5px !important;
}

/* MARGIN-RIGHT (SMALL) */
.marginright-sm {
  margin-right: 10px !important;
}

/* MARGIN-RIGHT (MEDIUM) */
.marginright-md {
  margin-right: 20px !important;
}

/* MARGIN-RIGHT (LARGE) */
.marginright-lg {
  margin-right: 30px !important;
}

/* MARGIN-RIGHT (X-LARGE) */
.marginright-xlg {
  margin-right: 60px !important;
}

/* MARGIN-BOTTOM (X-SMALL) */
.marginbottom-xs {
  margin-bottom: 5px !important;
}

/* MARGIN-BOTTOM (SMALL) */
.marginbottom-sm {
  margin-bottom: 10px !important;
}

/* MARGIN-BOTTOM (MEDIUM) */
.marginbottom-md {
  margin-bottom: 20px !important;
}

/* MARGIN-BOTTOM (LARGE) */
.marginbottom-lg {
  margin-bottom: 30px !important;
}

/* MARGIN-BOTTOM (X-LARGE) */
.marginbottom-xlg {
  margin-bottom: 60px !important;
}

/* MARGIN-LEFT (X-SMALL) */
.marginleft-xs {
  margin-left: 5px !important;
}

/* MARGIN-LEFT (SMALL) */
.marginleft-sm {
  margin-left: 10px !important;
}

/* MARGIN-LEFT (MEDIUM) */
.marginleft-md {
  margin-left: 20px !important;
}

/* MARGIN-LEFT (LARGE) */
.marginleft-lg {
  margin-left: 30px !important;
}

/* MARGIN-LEFT (X-LARGE) */
.marginleft-xlg {
  margin-left: 60px !important;
}

/* MARGIN (TOP/BOTTOM) SMALL */
.margintb-sm {
  margin: 10px 0 !important;
}

/* MARGIN (TOP/BOTTOM) MEDIUM */
.margintb-md {
  margin: 20px 0 !important;
}

/* MARGIN (TOP/BOTTOM) LARGE */
.margintb-lg {
  margin: 50px 0 !important;
}

/* MARGIN (RIGHT/LEFT) SMALL */
.marginrl-sm {
  margin: 0 10px !important;
}

/* MARGIN (RIGHT/LEFT) MEDIUM */
.marginrl-md {
  margin: 0 20px !important;
}

/* MARGIN (RIGHT/LEFT) LARGE */
.marginrl-lg {
  margin: 0 50px !important;
}

/* MARGIN (ALL) X-SMALL */
.margin-sm {
  margin: 5px !important;
}

/* MARGIN (ALL) SMALL */
.margin-sm {
  margin: 10px !important;
}

/* MARGIN (ALL) MEDIUM */
.margin-md {
  margin: 20px !important;
}

/* MARGIN (ALL) LARGE */
.margin-lg {
  margin: 50px !important;
}

/* MARGIN (ALL) X-LARGE */
.margin-xlg {
  margin: 60px !important;
}

/* MARGIN REVERSE (LEFT) SMALL */
.marginrevtleft-sm {
  margin-left: -10px !important;
}

/* MARGIN REVERSE (TOP) SMALL */
.marginrevt-sm {
  margin-top: -10px !important;
}

/* MARGIN REVERSE (TOP) MEDIUM */
.marginrevt-md {
  margin-top: -20px !important;
}

/* MARGIN REVERSE (TOP) LARGE */
.marginrevt-lg {
  margin-top: -50px !important;
}

/* NO PADDING (ZERO PADDING) */
.no-padding {
  padding: 0 !important;
}

/* NO PADDING (ZERO PADDING - TOP/BOTTOM) */
.no-paddingtb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* NO PADDING (ZERO PADDING - LEFT/RIGHT) */
.no-paddingrl {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* NO PADDING (ZERO PADDING - TOP) */
.no-paddingtop {
  padding-top: 0 !important;
}

/* NO PADDING (ZERO PADDING - RIGHT) */
.no-paddingright {
  padding-right: 0 !important;
}

/* NO PADDING (ZERO PADDING - BOTTOM) */
.no-paddingbottom {
  padding-bottom: 0 !important;
}

/* NO PADDING (ZERO PADDING - LEFT) */
.no-paddingleft {
  padding-left: 0 !important;
}

/* PADDING X-SMALL (ALL) */
.padding-xs {
  padding: 5px !important;
}

/* PADDING SMALL (ALL) */
.padding-sm {
  padding: 10px !important;
}

/* PADDING MEDIUM (ALL) */
.padding-md {
  padding: 20px !important;
}

/* PADDING LARGE (ALL) */
.padding-lg {
  padding: 50px !important;
}

/* PADDING X-LARGE (ALL) */
.padding-xlg {
  padding: 60px !important;
}

/* PADDING (TOP/BOTTOM) X-SMALL */
.paddingtb-xs {
  padding: 5px 0 !important;
}

/* PADDING (TOP/BOTTOM) SMALL */
.paddingtb-sm {
  padding: 10px 0 !important;
}

/* PADDING (TOP/BOTTOM) MEDIUM */
.paddingtb-md {
  padding: 20px 0 !important;
}

/* PADDING (TOP/BOTTOM) LARGE */
.paddingtb-lg {
  padding: 50px 0 !important;
}

/* PADDING (TOP/BOTTOM) X-LARGE */
.paddingtb-xlg {
  padding: 60px 0 !important;
}

/* PADDING (LEFT/RIGHT) X-SMALL */
.paddingrl-xs {
  padding: 0 5px !important;
}

/* PADDING (LEFT/RIGHT) SMALL */
.paddingrl-sm {
  padding: 0 10px !important;
}

/* PADDING (LEFT/RIGHT) MEDIUM */
.paddingrl-md {
  padding: 0 20px !important;
}

/* PADDING (LEFT/RIGHT) LARGE */
.paddingrl-lg {
  padding: 0 50px !important;
}

/* PADDING (LEFT/RIGHT) X-LARGE */
.paddingrl-xlg {
  padding: 0 60px !important;
}

/* PADDING (TOP) */
.paddingtop-xs {
  padding-top: 5px !important;
}

.paddingtop-sm {
  padding-top: 10px !important;
}

.paddingtop-md {
  padding-top: 20px !important;
}

.paddingtop-lg {
  padding-top: 50px !important;
}

.paddingtop-xlg {
  padding-top: 60px !important;
}

/* PADDING (RIGHT) */
.paddingright-xs {
  padding-right: 5px !important;
}

.paddingright-sm {
  padding-right: 10px !important;
}

.paddingright-md {
  padding-right: 20px !important;
}

.paddingright-lg {
  padding-right: 50px !important;
}

.paddingright-xlg {
  padding-right: 60px !important;
}

/* PADDING (BOTTOM) */
.paddingbottom-xs {
  padding-bottom: 5px !important;
}

.paddingbottom-sm {
  padding-bottom: 10px !important;
}

.paddingbottom-md {
  padding-bottom: 20px !important;
}

.paddingbottom-lg {
  padding-bottom: 50px !important;
}

.paddingbottom-xlg {
  padding-bottom: 60px !important;
}

/* PADDING (LEFT) */
.paddingleft-xs {
  padding-left: 5px !important;
}

.paddingleft-sm {
  padding-left: 10px !important;
}

.paddingleft-md {
  padding-left: 20px !important;
}

.paddingleft-lg {
  padding-left: 50px !important;
}

.paddingleft-xlg {
  padding-left: 60px !important;
}

.color-white, .color-white * {
  color: white !important;
}

.btn-dark {
  background: #607d8b !important;
  color: #fff;
}

.btn-dark:hover {
  background: #4b626d !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.clearfix {
  clear: both;
}

body {
  color: #4a4a4a;
}

md-button, button {
  text-transform: none !important;
  display: block !important;
  margin: 5px 0 !important;
}

button:active, button:focus, button.active, button *:active, button *:focus, button *.active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

@-webkit-keyframes sent-message {
  0% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
    opacity: 0.6;
  }
  42% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 12px);
            transform: translate(0px, 12px);
    opacity: 0.7;
  }
  60% {
    color: rgba(144, 134, 251, 0.3);
    -webkit-transform: translate(0px, 9px);
            transform: translate(0px, 9px);
    opacity: 0.8;
  }
  80% {
    color: rgba(32, 40, 70, 0.5);
    -webkit-transform: translate(0px, 6px);
            transform: translate(0px, 6px);
    opacity: 0.9;
  }
  90% {
    color: rgba(32, 40, 70, 0.7);
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
    opacity: 1;
  }
  100% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes sent-message {
  0% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
    opacity: 0.6;
  }
  42% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 12px);
            transform: translate(0px, 12px);
    opacity: 0.7;
  }
  60% {
    color: rgba(144, 134, 251, 0.3);
    -webkit-transform: translate(0px, 9px);
            transform: translate(0px, 9px);
    opacity: 0.8;
  }
  80% {
    color: rgba(32, 40, 70, 0.5);
    -webkit-transform: translate(0px, 6px);
            transform: translate(0px, 6px);
    opacity: 0.9;
  }
  90% {
    color: rgba(32, 40, 70, 0.7);
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
    opacity: 1;
  }
  100% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@-webkit-keyframes received-message {
  0% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
    opacity: 0.6;
  }
  42% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 12px);
            transform: translate(0px, 12px);
    opacity: 0.7;
  }
  60% {
    color: rgba(144, 134, 251, 0.3);
    -webkit-transform: translate(0px, 9px);
            transform: translate(0px, 9px);
    opacity: 0.8;
  }
  80% {
    color: rgba(32, 40, 70, 0.5);
    -webkit-transform: translate(0px, 6px);
            transform: translate(0px, 6px);
    opacity: 0.9;
  }
  90% {
    color: rgba(32, 40, 70, 0.7);
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
    opacity: 1;
  }
  100% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes received-message {
  0% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
    opacity: 0.6;
  }
  42% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 12px);
            transform: translate(0px, 12px);
    opacity: 0.7;
  }
  60% {
    color: rgba(144, 134, 251, 0.3);
    -webkit-transform: translate(0px, 9px);
            transform: translate(0px, 9px);
    opacity: 0.8;
  }
  80% {
    color: rgba(32, 40, 70, 0.5);
    -webkit-transform: translate(0px, 6px);
            transform: translate(0px, 6px);
    opacity: 0.9;
  }
  90% {
    color: rgba(32, 40, 70, 0.7);
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
    opacity: 1;
  }
  100% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

.loader {
  position: fixed;
  z-index: 9;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader img {
  position: absolute;
  left: -webkit-calc((100% - 196px)/2);
  left: calc((100% - 196px)/2);
  top: -webkit-calc((100% - 196px)/2);
  top: calc((100% - 196px)/2);
}

.chat-list {
  background: #607d8b;
  position: fixed;
  width: 28%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.chat-list .active {
  background: #455a64;
}

.chat-list button {
  margin: 0 !important;
}

.chat-list h3 {
  font-weight: 700 !important;
  font-size: 18px !important;
}

.chat-list h4 {
  font-size: 13px !important;
}

.chat-list img {
  width: 50px !important;
  height: 50px !important;
}

.chat-msgs {
  position: fixed;
  width: 72%;
  height: 100%;
  background: #eceff1;
  left: 28%;
  box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 80px !important;
}

.chat-msgs .msg {
  position: relative;
  overflow: hidden;
}

.chat-msgs .msg .profile-img {
  width: 50px !important;
  height: 50px !important;
}

.chat-msgs .more {
  font-size: 50px;
}

.chat-msgs .msg-content {
  float: left;
  padding: 6px 10px 0px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  max-width: 50%;
  clear: both;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  position: relative;
}

.chat-msgs .msg-content .bottyping {
  position: static;
  max-width: 30px;
}

.chat-msgs .msg-content .button-grp button {
  display: inline-block !important;
  margin-right: 5px !important;
  background: transparent;
  border: 0;
}

.chat-msgs .msg-content .button-grp .ng-hide {
  display: none !important;
}

.chat-msgs .bot-msg {
  -webkit-animation: received-message 0.5s ease-out 0s;
          animation: received-message 0.5s ease-out 0s;
}

.chat-msgs .bot-msg .msg-content {
  background: #fff;
}

.chat-msgs .user-msg {
  -webkit-animation: sent-message 0.5s ease-out 0s;
          animation: sent-message 0.5s ease-out 0s;
}

.chat-msgs .user-msg .msg-content {
  float: right;
  clear: both;
  background: #607d8b;
  color: #fff;
}

.chat-msgs .user-msg .edit-button {
  position: absolute;
  left: -30px;
  background: transparent;
  border: 0;
  font-size: 19px;
  top: -10px;
}

.chat-msgs .user-msg .edit-button i {
  color: #607d8b;
}

.msg-form {
  position: fixed;
  width: 72%;
  margin-bottom: 0;
  bottom: 0;
  left: 28%;
  background: #fff;
  padding-left: 10px;
  padding-top: 5px;
}

.msg-form .md-input-focused label {
  display: none;
}

.msg-form md-input-container {
  margin-bottom: 0px;
  margin-top: 0px;
}

.msg-form .md-errors-spacer {
  display: none;
}

.msg-form textarea {
  border: 0;
  width: -webkit-calc(100% - 75px);
  width: calc(100% - 75px);
  min-height: 38px !important;
}

.msg-form button {
  background: transparent;
  border: 0;
  display: inline-block !important;
}

.Note {
  display: block;
  width: 41%;
  text-align: center;
  margin: 0 auto;
}

.Note strong {
  display: block;
}

md-dialog-actions button:last-child {
  background: #607d8b !important;
  color: #fff !important;
}

md-dialog-actions button:last-child:hover {
  background: #4b626d !important;
}

.chat-loader {
  width: 72%;
  position: fixed;
  left: 28%;
  height: 100%;
  background: #eceff1;
  z-index: 9;
  top: 0;
}

.chat-loader img {
  position: absolute;
  top: -webkit-calc((100% - 70px)/2);
  top: calc((100% - 70px)/2);
  left: -webkit-calc((100% - 70px)/2);
  left: calc((100% - 70px)/2);
}

.edit-form textarea {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  border: 0;
}

.edit-form .md-raised {
  display: inline-block !important;
  line-height: 29px !important;
  min-height: 29px !important;
}

/*# sourceMappingURL=style.css.map */